<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-3">
    <div class="col-8 offset-2 text-center">
        <h3><%= listing.title %></h3>
    </div>
    <div class="card col-6 offset-3 show-card listing-card">
        <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
            <p class="card-text"><i><%= listing.owner.username %></i></p>
            <p class="card-text"><%= listing.description %><br/></p>
            <p class="card-text">$ <%= listing.price %> per user/month</p>
            <p class="card-text"><%= listing.country %><br/></p>
            <p class="card-text"><%= listing.location %></p>

            <% if(currUser) { %>
                <form action="/cart/add" method="POST">
                    <input type="hidden" name="listingId" value="<%= listing._id %>">
                    <button type="submit" class="btn btn-outline-success">Add to Cart</button>
                </form>
            <% } else { %>
                <button class="btn btn-outline-secondary disabled">Log in to Add to Cart</button>
            <% } %>
        </div>
    </div>
</div>

<br/>

<% if(currUser && currUser._id.equals(listing.owner._id)) { %>
    <div class="btns">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
        <form method="POST" action="/listings/<%=listing._id %>?_method=DELETE">
            <button class="btn btn-dark offset-5">Delete</button>
        </form>
    </div>
<% } %>

<div class="col-8 offset-3 mb-3">
    <hr>
    <h4>Leave a Review</h4>
    <% if(currUser) { %>
    <form action="/listings/<%= listing.id %>/review" method="POST" novalidate class="needs-validation">
        <!-- Rating and comments section -->
        <button class="btn btn-outline-dark">Submit</button>
    </form>
    <% } else { %>
        <br/>
        <button class="btn btn-success">
            <a href="/login" class="text-center text-dark" style="text-decoration: none;">Login to add a review</a>
        </button>
    <% } %>
    <hr>
    <p><b>All Reviews</b></p>
    <% if(listing.reviews.length == 0) { %>
        <h4>No reviews yet</h4>
    <% } %>
    <div class="row">
        <% for(review of listing.reviews) { %>
            <div class="card col-5 ms-3 mb-3">
                <div class="card-body">
                    <h5 class="card-title">@<%= review.author.username %></h5>
                    <p class="starability-result card-text" data-rating="<%=review.rating%>"></p>
                    <p class="card-text"><%= review.comment %></p>
                    <% if(currUser && currUser._id.equals(review.author._id)) { %>
                    <form class="mb-3" method="POST" action="/listings/<%=listing._id%>/review/<%=review._id%>?_method=DELETE">
                        <button class="btn btn-sm btn-dark">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</div>
